ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    /* margin: 0;
    padding: 0; */
    list-style-type: none;
  } 
  
  h1,
  h2,
  h3,
  p {
    margin-block-start: 0;
    margin-block-end: 0;
    /* margin: 0; */
  }
  
  a {
    text-decoration: none;
    font-style: normal;
  }

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container {
    max-width: 1158px;
}

img {
    display: block;
}

.main-header {
    border-bottom: 1px solid #e7e9fc; 
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    padding: 24px 156px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
    padding: 0 15px; 
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-item {
    display: inline;
    margin-left: 40px;
    color: #404bbf;
}



.header-logo {
font-family: "Raleway", sans-serif; 
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
color: #4D5AE5;
text-transform: uppercase;
text-decoration: none;
margin-right: 76px;
}

.logo-studio-header {
    color:#2E2F42;
}

.logo-studio-header:hover {
color: #4D5AE5;
}

.logo-studio-header:active {
    text-decoration: underline;
}

.header-link {
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-decoration: none;
color: #404bbf; 
padding: 24px 0;
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-active::after {
    content: "";
    background-color: #404BBF;
    position: absolute;
    width: 100%;
height: 4px;
top: 44px;
gap: 0px;
border-radius: 2px;
opacity: 0px;
left: 0;
bottom: -1px;
}

.header-link:hover {
text-decoration: underline;
color: #404bbf;
}

.header-link:focus {
    color: #404bbf;
}



.address-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px; 
}

address {
    font-style: normal;
}

.address-item {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.address-item:hover {
    color: #404bbf;
    text-decoration: underline;
}

.address-item:focus {
    color: #404bbf;
}

.main-section {
    background-color: #2E2F42;
opacity: 0px;
width: 1440px;
height: 600px;
top: 72px;
gap: 0px;
opacity: 0px;
padding: 188px 0;
background-color: #2E2F42B2;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/PeopleOfficeBackground.jpg);
background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px; 
}

.main-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
color: #FFFFFF; 
line-height: 1.07;
max-width: 496px;
margin-bottom: 48px;
}

.order-button {
font-size: 16px;
line-height: 1.5;
color: #FFFFFF;
background-color:#4D5AE5;
font-weight: 500;
letter-spacing: 0.04em;
cursor: pointer;
padding: 16px 32px 16px 32px;
border-radius: 4px;
opacity: 0px;
display: block;
min-width: 169px; 
height: 56px;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.order-button:hover {
    background-color: #404BBF;
}

.order-button:focus {
    background-color: #404BBF; 
}

/*Modal section*/

.modal-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: rgba(46, 47, 66, 0.4);
    visibility: hidden;
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-backdrop.is-open {
    visibility: initial;
}

.modal-container {
    position: absolute;
    width: 408px;
min-height: 584px;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
border-radius: 4px 0px 0px 0px;
opacity: 0px;
background: #FCFCFC;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 

padding: 72px 24px 24px 24px;
}

.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
    background-color: #404bbf; 
    border: none;
}

.close-button:focus {
    background-color: #404bbf; 
    border: none;
}

.close-button:hover .svg-close {
    fill:#ffffff;
}

.close-button:focus .svg-close {
    fill:#ffffff;
}

.svg-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


.modal-form {
    display: flex;
    flex-direction: column;
    width: 360px;
height: 336px;
top: 192px;
left: 540px;
gap: 8px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;

}



.modal-paragraph {
    font-weight: 500;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;

margin-bottom: 16px;

}

.form-info {
    margin-bottom: 8px;
}

.form-input {
    position: relative;
}

.text-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.text-input:focus {
    border-color: #4D5AE5; 
}

.svg-input {
    position: absolute;
    left: 16px; 
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input .text-input:focus + .svg-input {
    fill: #4D5AE5;
}

.comment-field {
    margin-bottom: 16px;
}

.textarea-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment:focus {
    border-color: #4D5AE5; 
}


.labels {
font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
text-align: left;
color: #8E8F99;

display: block;
margin-bottom: 4px;
}

.conditions-field {
    margin-bottom: 24px;
}

.conditions-label {
font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
text-align: left;
color: #8E8F99;
}

.conditions-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent; 
}

.input-conditions:checked + .conditions-label .conditions-span {
   background-color:  #404bbf;
   border: none; 
   fill: #F4F4FD;
}

.privacy-link {
font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.04em;
text-align: left;
color: #4D5AE5;
}

.send-button {
    display: block;
    min-width: 169px; 
    min-height: 56px;
    font-weight: 500; 
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff; 
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* End of modal section*/

.about-company {
    padding: 120px 0; 
}

.about-container {
    display: flex;
    gap: 24px;
}

.about-icons {
    width: 264px;
height: 112px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #8E8F99;
padding: 24, 100, 24, 100;
display: flex;
align-items: center;
justify-content: center; 
background-color: #f4f4fd; 
border-radius: 4px; 
margin-bottom: 8px;
}

.about-title-container {
    width: Fixed (264px)px;
height: Hug (224px)px;
top: 792px;
left: 156px;
gap: 8px;
opacity: 0px;

}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;   
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }



.about-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.about-paragraph {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 120px 0;
}

.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px #2E2F4214,
    0px 1px 1px 0px #2E2F4229,
    0px 1px 6px 0px #2E2F4214;

}

.team-details-container {
    padding: 32px 0; 
}

.team-section ul {
    list-style-type: none;
}

.team-title {
font-weight: 700;
line-height: 40px;
letter-spacing: 0.02em;
color: #2E2F42;
text-align: center;
text-transform: capitalize;
font-size: 36px;
line-height: 1.11;
padding-top: 120px;
margin-bottom: 72px;
}

.team-subtitle {
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
background-color: #FFFFFF;
text-align: center; 
margin-bottom: 8px; 
}

.team-paragraph {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
}

.social-media-icons {
    display: flex; 
    justify-content: center; 
    gap: 24px;
}

.social-media-icon {
    width: 40px;
    height: 40px; 
}

.social-media-link {
    width: 100%; 
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover {
    background-color: #404bbf;
}

.social-media-link:focus {
    background-color: #404bbf;
}

.social-media-icon {
    fill: #f4f4fd; 
}

.portofolio-section {
    padding-top: 120px;
    padding-bottom: 120px; 
}

.portofolio-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 120px;
    justify-content: center;
    gap: 24px;
    row-gap: 48px;
}

.portofolio-item-container {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.portofolio-item-container:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.apps-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
    margin-bottom: 8px;
}

.portofolio-section ul {
    list-style-type: none;
}

.portofolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    padding-top: 120px;
    margin-bottom: 72px;
}

.portofolio-item {
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42; 
margin-bottom: 8px;
}

.portofolio-paragraph {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455; 
}

.portofolio-image {
    position: relative;
    overflow: hidden;
}


.portofolio-image-paragraph {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5; 
    height: 100%; 
    width: 100%;
    transform: translateY(100%); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portofolio-image:hover .portofolio-image-paragraph {
    transform: translateY(0%);
}



.footer-section {
    background-color: #2E2F42;
    padding: 100px 0; 
}

.footer-container {
        width: 1440px;
        height: 312px;
        top: 2988px;
        gap: 0px;
        opacity: 0px;
        padding: 100px 0;
        margin-bottom: 16px;  
        margin-right: 120px;
        display: flex;
        align-items: baseline;
    
}

.footer-logo-paragraph {
    margin-right: 120px;

}

.footer-logo {
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
color: #4D5AE5;
text-transform: uppercase;
text-decoration: none;
padding-top: 100px;
padding-left: 156px;
}

.logo-studio-footer {
    font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.03em;
    color: #F4F4FD;
    margin-bottom: 16px; 
display: inline-block;
}

.footer-logo:hover {
    text-decoration: underline;
}

.footer-paragraph {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
color: #F4F4FD; 
padding-top: 100px;
padding-left: 156px;
}

.footer-social-media-icons {
    display: flex; 
    gap: 16px;
}

.footer-subtitle {
    font-weight: 500; 
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px; 
}

.footer-icon {
    width: 40px;
    height: 40px;
}

.footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
    background-color: #31d0aa;
}

.footer-link:focus {
    background-color: #31d0aa;
}

.footer-svg {
    fill: #f4f4fd; 
}

.footer-subscribe {
    margin-left: 80px;
}

.subscribe-paragraph {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    
    margin-bottom: 16px;
    }

.subscribe-form {
    display: flex;
    gap: 24px;
}

.footer-form-input {
background-color: transparent;
border: 1px solid #FFFFFF;
width: 264px;
height: 40px;
top: 140px;
left: 828px;
gap: 0px;
border-radius: 4px;
border: 1px 0px 0px 0px;
opacity: 0px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);;
padding-left: 16px;
color: #FFFFFF;

font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;

}

.footer-form-input::placeholder {
color: #FFFFFF;
}

.subscribe-button {
min-width: 165px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
top: 140px;
left: 1116px;
padding: 8px 24px 8px 24px;
gap: 16px;
border-radius: 4px;
opacity: 0px;
background-color: #4D5AE5;
border: none;

font-family: "Roboto", sans-serif; 
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #FFFFFF;
cursor: pointer;
}

.svg-send {
    fill: #FFFFFF;
    background-color: #4D5AE5;
    margin-left: 16px;
}


